@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
}
.nav-link{
    font-size: 16px;
    margin: 25px;
    color: white !important;
}
.nav-link:hover{
    color: #B9B9B9 !important;
}
.active .nav-link{
    color: #00e8e8 !important;
}
.nav-item a.selected {
  border-bottom: 1px solid whitesmoke;
  padding-bottom: 7px;
  border-radius: 10%; 
}
.navbar-brand{
    margin-left: 9% !important;
}
.lands{
    background-image: url(../img/Group\ 8.2.png);
    height: 294px;
    margin-top: -7%;
}
.styl{
    background: #FFFFFF;
    box-shadow: -6.21212px 6.21212px 12.4242px rgba(0, 0, 0, 0.2);
    border-radius: 0px 15.5px;
    color: #960C0C !important;
}
.styls{
    box-shadow: -6.21212px 6.21212px 12.4242px rgba(0, 0, 0, 0.2);
    background: #A51D1D;
    border-radius: 0px 25.5px;
    color: white;
}
.section-1{
    margin-top: 7%;
    margin-bottom: 3%;
}
.texts{
    color: #940A0A;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 32.3999px;

}
.cont-2{
    background-image: url(../img/Subtract.png);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.anchs{
    text-decoration: none !important;
    color:#560505;
}
.anchs:hover{
    color: #940A0A;
}
.sits{
    padding-top: 150px;
}

.sits p.mam{
    font-family: 'Righteous';
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 60px !important;
    color: white;
    text-transform: uppercase;
}
.section-2 .container .row{
    margin-top: 20px !important;
}
.hov1:hover p{
    color: white !important;
}

.foot{
  background-color:  #560505;
  max-height: 5%;
}
.copyr{
    color: #B9B9B9;
    font-size: 10px;
    padding-top: 7px;
}
.form-control{
  width: 100%;
}
.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .3s;
    line-height: 1; }
  .popup__close:hover {
      color: #810B0B; }
  .popup__content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-60%, -50%);
    width: 5%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border: 3px solid #810B0B;
    border-radius: 15px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-60%, -50%) scale(0.25);
    transition: all .5s .2s; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -60%) scale(1); }
  .popup__left {
    width: 33.333333333%;
    display: table-cell; }
  .popup__right {
    width: 66.666666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    margin-top: -2rem;
  }
.heading-secondary{
    color: #810B0B;
    text-align: center;
    font-family: 'Righteous';
    text-transform: capitalize;
    font-size: 35px;
}
.heading-tertiary{
    color: #810B0B;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: -0.03em;

    color: #777777;
}
.colss{
    color: #777777;
}

.popups{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s; }
    .popups:target {
      opacity: 1;
      visibility: visible; }
    .popups__close:link, .popup__close:visited {
      color: #777 !important;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all .3s;
      line-height: 1; }
    .popups__close:hover {
        color: #810B0B; }
    .popups__content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
      background-color: #fff;
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
      border: 3px solid #810B0B;
      border-radius: 15px;
      display: table;
      overflow: hidden;
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.25);
      transition: all .5s .2s; }
    .popups:target .popups__content {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1); }
    .popups__left {
      width: 33.333333333%;
      display: table-cell; }
    .popups__right {
      width: 66.666666667%;
      display: table-cell;
      vertical-align: middle;
      padding: 3rem 5rem; }
    .popups__img {
      display: block;
      width: 100%; }
    .popups__text {
      font-size: 1.3rem;
      margin-bottom: 4rem;
      margin-top: -2rem;
      text-align: justify;
    }
    .headings-secondary{
        color: #810B0B;
        text-align: center;
        font-family: 'Righteous';
        text-transform: capitalize;
        font-size: 35px;
    }

.my-img{
  text-align: center;
}
/* Tablet */
@media screen and (max-width: 900px) and (min-width: 600px) {
  .lands{
    margin: 0;
  }

  .last-one{
    width: 150px;
    height: 50px;

  }
  .my-img{
    text-align: center;
  

  }
  .show{
    margin-top: -20px;
  }
  .styl{
    background: #FFFFFF;
    box-shadow: -6.21212px 6.21212px 12.4242px rgba(0, 0, 0, 0.2);
    border-radius: 0px 15.5px;
    color: #960C0C !important;
    width: 12%;
}
  .nav-link{
    margin: 1px;
    font-size: 14px;
    margin-bottom: 14px;
  }
    .texts{
      color: #940A0A;
      text-transform: uppercase;
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 900;
      font-size: 28.3999px;

  }
  .note{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 12.9px;
  }
  a{
    cursor: pointer;
  }
  .my-img{
    text-align: center;
    margin-top: 9%;
  }


  
}

/* Mobile */
@media screen and (max-width: 600px) {
  .lands{
    margin: 0;
    margin-top: -10%;
  }

  .last-one{
    width: 200px;
    height: 50px;

  }
  .nav-item a.selected {
    border-bottom: none;
  }
  .complog{
    width: 70%;
    height: 100%;
}
.copyr{
  margin-right: 32%;
  font-size: 11px;
  padding-top: 10px;
}
.popup__text {
  font-size: 2px;
  margin-bottom: 5px;
  margin-top: 2rem;
}
  .show{
    margin-top: -20px;
  }
  .styl{
    background: #FFFFFF;
    box-shadow: -6.21212px 6.21212px 12.4242px rgba(0, 0, 0, 0.2);
    border-radius: 0px 15.5px;
    color: #960C0C !important;
    width: 30%;
}
  .nav-link{
        margin: 1px;
        font-size: 14px;
        margin-bottom: 14px;
  }
    .texts{
      color: #940A0A;
      text-transform: uppercase;
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 900;
      font-size: 28.3999px;

  }
  .note{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 11.9px;
  }
  a{
    cursor: pointer;
  }
  .my-img{
    text-align: center;
    margin-top: 9%;
  }

  
  
}