@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu&display=swap');

body{
    margin: 0;
    padding: 0;
}
.nav-link{
    font-size: 16px;
    margin: 25px;
    color: white !important;
}
.nav-link:hover{
    color: #B9B9B9 !important;
}
.active .nav-link{
    color: #00e8e8 !important;
}
.landing{
    background-image: url(../img/Group_9new.png);
}
.section-1{
    margin-top: 10%;
}
.styl{
    background: #FFFFFF;
    box-shadow: -6.21212px 6.21212px 12.4242px rgba(0, 0, 0, 0.2);
    border-radius: 0px 15.5px;
    color: #960C0C !important;
}
.styls{
    box-shadow: -6.21212px 6.21212px 12.4242px rgba(0, 0, 0, 0.2);
    background: #A51D1D;
    border-radius: 0px 25.5px;
    color: white;
}
.siteland{
    margin-top: 8%;
    margin-bottom: 4%;
    margin-left: 10%;
    position: relative;
}
.site-title{
    color: white;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-style: bold;
    font-weight: 900;
    font-size: 50.3999px;
    line-height: 50px;
    letter-spacing: 1;
}
.site.desc{
    color: white;
    font-family: 'Raleway';
}
.site.descs{
    margin-left: 10% !important;
    font-family: 'Raleway';
}

.mores{
    margin-bottom: 75px !important;
}
.foot{
    background-color:  #560505;
    height: 39px;
}
.copyr{
    color: #B9B9B9;
    font-size: 14px;
    padding-top: 7px;
}
.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s; }
    .popup:target {
      opacity: 1;
      visibility: visible; }
    .popup__close:link, .popup__close:visited {
      color: #777;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all .3s;
      line-height: 1; }
    .popup__close:hover {
        color: #810B0B; }
    .popup__content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 75%;
      background-color: #fff;
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
      border: 3px;
      display: table;
      overflow: hidden;
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.25);
      transition: all .5s .2s; }
    .popup:target .popup__content {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1); }
    .popup__left {
      width: 33.333333333%;
      display: table-cell; }
    .popup__right {
      width: 66.666666667%;
      display: table-cell;
      vertical-align: middle;
      padding: 3rem 5rem; }
    .popup__img {
      display: block;
      width: 100%; }
    .popup__text {
      font-size: 1.4rem;
      margin-bottom: 4rem;
      margin-top: -2rem;
      /* -moz-column-count: 1;
      -moz-column-gap: 4rem;
      -moz-column-rule: 1px solid #eee;
      column-count: 1;
      column-gap: 4rem;
      column-rule: 1px solid #eee;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto; } */
    }
.heading-secondary{
    color: #810B0B;
    text-align: center;
    font-family: 'Righteous';
    text-transform: capitalize;
    font-size: 35px;
}
.heading-tertiary{
    color: #810B0B;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    /* identical to box height */
    letter-spacing: -0.03em;

    color: #777777;
}
.colss{
    color: #777777;
}

.my-toggle{
    background-color: #2c0202;
    color: #fff;
}

@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 769px) {
    
    
}

