@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
}
.nav-link{
    font-size: 16px;
    margin: 25px;
    color: white !important;
}
.nav-link:hover{
    color: #B9B9B9 !important;
}
.active .nav-link{
    color: #00e8e8 !important;
}
.navbar-brand{
    margin-left: 9% !important;
}
.lands{
    background-image: url(../img/Group\ 8.2.png);
    height: 294px;
    margin-top: -7%;
}
.styl{
    background: #FFFFFF;
    box-shadow: -6.21212px 6.21212px 12.4242px rgba(0, 0, 0, 0.2);
    border-radius: 0px 15.5px;
    color: #960C0C !important;
}
.styls{
    box-shadow: -6.21212px 6.21212px 12.4242px rgba(0, 0, 0, 0.2);
    background: #A51D1D;
    border-radius: 0px 25.5px;
    color: white;
}
.section-1{
    margin-top: 7%;
    margin-bottom: 3%;
}
.texts{
    color: #940A0A;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 32.3999px;

}
.cont-2{
    background-image: url(../img/Subtract.png);
    min-height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.sits{
    padding-top: 100px;
}
.hov4:hover{
    color: #500A0A !important;
}

.sits{
    font-family: 'Righteous';
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 20px !important;
    color: white;
    text-transform: uppercase;
}
.rowe{
    margin-left: 15px;
}
.sit{
    font-family: 'Raleway';
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
}
.sit2{
    font-family: 'Raleway';
    font-size: 10px;
    font-style: normal;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
}
.name{
    padding-top: 25px;
    padding-left: 80px;
}
.name .surn{
    font-family: 'Raleway';
    font-size: 20px;
}
.name .surns{
    font-family: 'Raleway';
    font-size: 12px;
    margin-top: -9px;
    font-weight: 300;
}
.foot{
    background-color:  #560505;
    height: 39px;

}
.copyr{
    color: #B9B9B9;
    font-size: 14px;
    padding-top: 7px;
}
.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s; }
    .popup:target {
      opacity: 1;
      visibility: visible; }
    .popup__close:link, .popup__close:visited {
      color: #777;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all .3s;
      line-height: 1; }
    .popup__close:hover {
        color: #810B0B; }
    .popup__content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 75%;
      background-color: #fff;
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
      border: 3px;
      display: table;
      overflow: hidden;
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.25);
      transition: all .5s .2s; }
    .popup:target .popup__content {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1); }
    .popup__left {
      width: 33.333333333%;
      display: table-cell; }
    .popup__right {
      width: 66.666666667%;
      display: table-cell;
      vertical-align: middle;
      padding: 3rem 5rem; }
    .popup__img {
      display: block;
      width: 100%; }
    .popup__text {
      font-size: 1.4rem;
      margin-bottom: 4rem;
      margin-top: -2rem;
    }
.heading-secondary{
    color: #810B0B;
    text-align: center;
    font-family: 'Righteous';
    text-transform: capitalize;
    font-size: 35px;
}
.heading-tertiary{
    color: #810B0B;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: -0.03em;

    color: #777777;
}
.colss{
    color: #777777;
}
/* Tablet */
@media screen and (max-width: 900px) and (min-width: 600px) {
    .lands{
      margin: 0;
    }
    .my-img{
      text-align: center;
    
  
    }
    .show{
      margin-top: -20px;
    }
    .styl{
      background: #FFFFFF;
      box-shadow: -6.21212px 6.21212px 12.4242px rgba(0, 0, 0, 0.2);
      border-radius: 0px 15.5px;
      color: #960C0C !important;
      width: 12%;
  }
    .nav-link{
      margin: 0;
    }
    .cont-2{
        min-height: 50vh;
    }
      .texts{
        color: #940A0A;
        text-transform: uppercase;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 900;
        font-size: 22.3999px;
  
    }
    .note{
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 900;
      font-size: 12.2px;
    }
    a{
      cursor: pointer;
    }
    .my-img{
      text-align: center;
      margin-top: 2%;
    }
  
  
    
  }
  
/* Mobile */
@media screen and (max-width: 600px) {
    .lands{
      margin: 0;
      margin-top: -10%;
    }
  
    .last-one{
      width: 200px;
      height: 50px;
  
    }
    .complog{
        width: 70%;
        height: 100%;
    }
    .copyr{
        margin-right: 32%;
        font-size: 11px;
        padding-top: 10px;
    }
    .nav-link{
        margin: 1px;
        font-size: 14px;
        margin-bottom: 14px;
  }
    .show{
      margin-top: -20px;
    }
    .styl{
      background: #FFFFFF;
      box-shadow: -6.21212px 6.21212px 12.4242px rgba(0, 0, 0, 0.2);
      border-radius: 0px 15.5px;
      color: #960C0C !important;
      width: 30%;
    }
      .texts{
        color: #940A0A;
        text-transform: uppercase;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 900;
        font-size: 22.3999px;
  
    }
    .note{
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 900;
      font-size: 12px;
    }
    a{
      cursor: pointer;
    }
    .my-img{
      text-align: center;
      margin-top: 9%;
    }
    .faces{
        margin-left: 23%;
    }
    
  }
